<h1>Make a new List</h1>

<form action="/lists" method="post">
  <div class="form-group">
    <label for="list_name">List Name:</label>
    <input type="text" name="list_name">
  </div>

  <button type="submit">Submit</button>
</form>
