<h1>Tasks for <%= @list.name %></h1>

<% if @tasks.any? %>
  <ul>
    <% @tasks.each do |task| %>
      <li><%= task.description %></li>
    <% end %>
  </ul>
<% else %>
  <p>
    There are no lists add one
  </p>
<% end %>

<h1>Make a new Task</h1>

<form action="/list/<%= @list_id %>/tasks" method="post">
  <div class="form-group">
    <input type="hidden" name="list_id" value="<%= @list_id %>">
    <label for="task_description">Task description:</label>
    <input type="text" name="task_description">
  </div>

  <button type="submit">Submit</button>
</form>
